<p-panel>
  <p-header>
    About panel
  </p-header>
  Intro content
  <p-footer>
    <button pButton type="button" icon="pi pi-plus" label="Cite" class="ui-button-info"></button>
  </p-footer>
</p-panel>

<div class="p-grid">
  <div class="p-col">

    <p-card header="Contact" [routerLink]="['/about', 'contact']" routerLinkActive="router-link-active">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
    </p-card>


    <p-card header="Ethics" [routerLink]="['/about', 'ethics']" routerLinkActive="router-link-active" >
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
    </p-card>


    <p-card header="Books">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
    </p-card>

    <p-card header="Quora">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
    </p-card>
  </div>

  <div class="p-col">
    <p-card header="Influences">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
    </p-card>

    <p-card header="Time Line">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
    </p-card>

    <p-card header="Food Blog">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
    </p-card>

    <p-card header="Medium">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
    </p-card>

  </div>

</div>
