<p-panel>
  <p-header>
    This status page operates as a dead man's switch
  </p-header>
  Duration: of when last seen online and what it means
  <p-footer>
    Last seen at : date and xyztime has passed by since then.
  </p-footer>
</p-panel>



<p-panel>
  <p-header>
    Dead man's switch
  </p-header>

  <p> Dead man's switch is a process that initiates once a person is presumed dead.
    The process can either be public or private.
  </p>
  <p>
    In, this scenario, if the said user does not log into the platform, within a certain amount of time or duration, the
    protocol kicks off. This includes access permissions that are preset by the user prior to going MIA.
  </p>
  <p>
    This involves process that trigger due to lack of being online or having signed on in a certain amount of time.
    Cause can range from anytime ranging from Going off network coverage to imprisonment. A beacon signal can be sent
    out informing the concerned to take necessary steps to safeguard their assets or initiate action.
  </p>

  <p>
    Applicable follow through actions involve:
  </p>
  <ul>
    <li>
      Sending email
    </li>
    <li>
      Prcessing cryptocurrency transactions.
    </li>
    <li>
      Publishing content
    </li>
    <li>
      INsurance
    </li>
    <li>
      INforming Lawyer about will through email
    </li>
    <li>
      Digital integration with other services. i.e yet to be decided
    </li>
  </ul>

  <p-footer>

    Signature / Some signature

  </p-footer>
</p-panel>
